html {
    scroll-behavior: smooth !important;
}
body {
    margin: 0;
    background-color: #20202c;
}
.Main {
    display: grid;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
}
.no-scroll {
    overflow-y: hidden;
}
.nav-div {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: auto;
    right: 0;
    left: 0;
    z-index: 5;
    opacity: 100%;
    background-color: #20202c;
}
.button-box {
    width: 0;
    visibility: hidden;
}
.bar {
    height: 3px;
    width: 40px;
    background-color: rgb(148, 247, 214);
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    border-radius: 10px;
    pointer-events: none;
}
.drop-content {
    visibility: hidden;
    position: absolute;
}
.show {
  position: absolute;
  visibility: hidden;
}
.nav-hidden {
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  padding: 15px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
}
.nav-hidden:hover {
    background-color: #3e3e5ce6;
}
.list {
    margin-left: auto;
}
.hero-container {
    bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}
.frame {
    background-color: white;
}
.frame-top {
    height: 1.1px;
    width: 50%;
    margin-right: 50%;
}
.frame-bottom {
    height: 1.1px;
    width: 50%;
    margin-left: 50%;
}
.frame-left {
    height: 200px;
    width: 1.1px;
}
.frame-right {
    height: 200px;
    width: 1.1px;
    margin-left: 100%;
}
.front-page {
    font-weight: bold;
    font-size: 35px;
    color:rgb(148, 247, 214);
    text-decoration: none;
}
.front-page:hover {
    color:rgb(148, 247, 214);
    transition: 0.6s;
    filter: drop-shadow(0 0 .75px rgb(148, 247, 214));
}
.list {
    list-style: none;
}
.top-link {
    color: lightgrey;
    text-decoration: none;
}
.list-item {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    color: lightgrey;
    padding-left: 25px;
}
.list-item-logo {
    display: inline;
    font-weight: bold;
    color: lightgrey;
    padding-left: 25px;
} 
.list-item-logo-linkedin {
    display: inline;
    font-weight: bold;
    color: lightgrey;
    padding-left: 4px;
}
.top-link:hover{
    color:rgb(148, 247, 214);
    transition: 0.6s;
}
.github {
    height: 20px;
    width: 20px;
}
.linkedin {
    height: 20px;
    width: 20px;  
}
.lift {
  position: relative;
  top: 0;
  transition: top ease 0.1s;
  color:lightgrey;
}
.lift:hover {
    top: -3.5px;
    color:rgb(148, 247, 214);
}
.description {
    font-size: 25px;
    color: lightgrey;
    align-self: center;
    text-align: center;
    display:inline;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.name {
    color:rgb(148, 247, 214);
}
.button-holder {
    align-items: center;
    display:flex;
    justify-content: center;
}
.but {
    font-size: 25px;
    font-weight: bold;
    background-color:rgb(148, 247, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 1.5%;
    text-decoration: none;
}
.but-link {
    font-size: 25px;
    font-weight: bold;
    background-color: #20202c;
    color: rgb(162, 243, 216);
    border-color: rgb(162, 243, 216);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    text-decoration: none;
    border-radius: 5px;
    padding: 1.5%;
}
.but-link:hover {
    color: rgb(75, 74, 74);
    background-color:rgb(162, 243, 216);
    transition: 0.6s;
}
.selected {
    color: rgb(162, 243, 216);
    text-decoration: none; 
}
h2{
    font-size: 55px;
    color: lightgrey;
}
.projects-container {
    bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.project-holder {
    display: flex;
    flex-direction: row;
}
.proj {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.img-holder {
    height: 300px;
    overflow: hidden;
}
.project-image {
    height: 300px;
    width: 400px;
    background-color: aliceblue;
    transition: transform .5s ease;
}
.project-image:hover {
transform: scale(1.03)
}
.project-button {
    font-size: 18px;
    font-weight: bold;
    background-color: #20202c;
    color: rgb(162, 243, 216);
    border-color: rgb(162, 243, 216);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 1.5%;
    text-decoration: none;
}
.project-button:hover {
    color: rgb(75, 74, 74);
    background-color:rgb(162, 243, 216);
    transition: 0.6s;
}
.skills-container {
    bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}
.contact-container {
    bottom: 0;
    height: 45vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
}
.email-p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(153, 153, 153);
}
.email-link {
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(148, 247, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;  
}
.email-link:hover {
    color: rgb(75, 74, 74);
    background-color:rgb(162, 243, 216);
    transition: 0.6s;
}
.footer-container {
    bottom: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    color: rgb(153, 153, 153);
}
.site-link {
    color:rgb(162, 243, 216);
    text-decoration: none;
}
@media (max-width: 768px) {
    .nav-div {
        width: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    .list-item, .list-item-logo, .list-item-logo-linkedin {
        display: none;
    }
    .button-box {
        visibility: visible;
        height: auto;
        width: auto;
        background-color: #20202c;
        z-index: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
    }
    .span {
        height: 4px;
        width: 50px;
        background-color: black;
    }
    .drop-content {
        visibility: hidden;
        position: absolute;
        top: 0px;
        right: 0;
        transform: translateX(75vw);
        transition: 0.3s;
        height: 100vh;
        width: 80vw;
        z-index: 5;
        text-align: center;
        opacity: 100%;
        background-color: #20202c;
        padding-top: 99px;
    }
    .show {
        position: absolute;
        visibility: visible;
        top: 0px;
        right: 0;
        transform: translateX(-.3vw);
        transition: 0.3s;
        height: 100vh;
        width: 80vw;
        z-index: 5;
        text-align: center;
        opacity: 100%;
        background-color: #20202c;
        box-shadow: -8px 0px 10px 1px;
        padding-top: 99px;
    }
    .description {
        margin-right: 10%;
        margin-left: 10%;
    }
    .but-link {
        font-size: 20px;
    }
    h2 {
        font-size: 7vw;
    }
    .project-holder {
        display: flex;
        flex-direction: column;
    }
    .project-image {
        width: 75vw;
        aspect-ratio: 3/4;
    }
}