.Main {
    display: grid;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
.navDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #09091be6;
}
.heroContainer {
    bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #09091be6;
}
.front-page {
    font-weight: bold;
    font-size: 35px;
    color:rgb(148, 247, 214);
    text-decoration: none;
}
.front-page:hover {
    color:rgb(148, 247, 214);
    transition: 0.6s;
    filter: drop-shadow(0 0 .75px rgb(148, 247, 214));
}
ul {
    list-style: none;
    align-items: left;
    
}
.top-link {
    color: lightgrey;
    text-decoration: none;
}
.list-item {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    color: lightgrey;
    padding-left: 25px;
}
.list-item-logo {
    display: inline;
    font-weight: bold;
    color: lightgrey;
    padding-left: 25px;
} 
.list-item-logo-linkedin {
    display: inline;
    font-weight: bold;
    color: lightgrey;
    padding-left: 4px;
}
.top-link:hover{
    color:rgb(148, 247, 214);
    transition: 0.6s;
}
.github {
    height: 20px;
    width: 20px;
}
.linkedin {
    height: 20px;
    width: 20px;  
}
.lift {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  color:rgb(148, 247, 214);
}
.lift:hover {
    top: -3px;
    filter: drop-shadow(0 0 1px rgb(148, 247, 214));
}
.description {
    font-size: 25px;
    color: lightgrey;
    align-self: center;
    text-align: center;
    display:inline;
    margin-left: auto;
    margin-right: auto;
}
.button-holder {
    align-items: center;
    display:flex;
    justify-content: center;
}
.but {
    font-size: 25px;
    font-weight: bold;
    background-color:rgb(148, 247, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 1.5%;
    text-decoration: none;
}
.but-link {
    font-size: 25px;
    font-weight: bold;
    background-color:rgb(148, 247, 214);
    color: white;
    border-style: none;
    border-radius: 30px;
    text-decoration: none;
    border-radius: 5px;
    padding: 1.5%;
}
.but-link:hover {
    color: rgb(75, 74, 74);
    background-color:rgb(162, 243, 216);
    transition: 0.6s;
}
.selected {
    color: rgb(162, 243, 216);
    text-decoration: none; 
}
h2{
    font-size: 55px;
    color: lightgrey;
}
.projectsContainer {
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #09091be6;
}
.projectHolder {
    display: flex;
    flex-direction: row;
}
.proj {
    display: flex;
    flex-direction: column;
}
.projectImage {
    height: 300px;
    width: 400px;
    background-color: aliceblue;
}
.projectButton {
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(148, 247, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 1.5%;
    text-decoration: none;
}
.skillsContainer {
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
    background-color: #09091be6;
}
.contactContainer {
    bottom: 0;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    background-color: #09091be6;
}
.emailP {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.emailLink {
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(148, 247, 214);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;  
}